.mainContainer {
  margin: 0 auto;
  width: 1020px;
}
.point {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 10px 15px;
  float: left;
  cursor: pointer;
}
.point.disabled {
  position: relative;
}

.point.disabled:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -3px;
  right: 0;
  content: "\274c";
  line-height: 10px;
}

.time {
  width: 20px;
  margin: 0 10px;
  float: left;
  font-size: 10px;
  color: #3d3d3d;
}
.row {
  height: 30px;
  line-height: 30px;
}
.header {
  text-align: right;
  float: left;
  width: 50px;
  font-size: 12px;
  margin-right: 25px;
}
.period {
  float: left;
}
.heatmap {
  width: 250px;
  padding-left: 20px;
}
